@import 'mixins';

@layer components {
  .link {
    @include set-link-vars(var(--grayscale-white));

    display: none;

    @media (--mobile-lg) {
      align-items: center;
      background-color: var(--grayscale-gray-3);
      block-size: rem(70px);
      border-radius: 50%;
      display: flex;
      font-size: rem(60px);
      inline-size: rem(70px);
      inset-block-end: var(--spacing-2-5);
      inset-inline-end: var(--spacing-2-5);
      justify-content: center;
      position: fixed;
      transition-duration: var(--duration-short);
      transition-property: background-color, color, opacity;

      &:hover,
      &:focus {
        background-color: var(--grayscale-gray-5);
      }

      &[aria-hidden='true'] {
        opacity: 0;
      }
    }

    &.show {
      opacity: 1 !important;
      position: static;
    }
  }
}
