.fonts {
  margin-bottom: rem(45px);
}

.family {
  font-size: rem(20px);
  font-weight: 700;
  margin-bottom: rem(5px);
  text-align: center;

  @media (width >= 800px) {
    text-align: left;
  }
}

.item {
  display: flex;
  flex-direction: column;
  margin: rem(30px) 0;

  @media (width >= 800px) {
    flex-direction: row;
  }
}

.preview {
  border-bottom: 2px solid #eee;
  font-size: rem(18px);
  font-style: normal;
  font-weight: 400;
  padding: rem(20px) 0;
  text-align: center;
  width: 100%;

  @media (width >= 800px) {
    border-bottom: 0;
    border-right: 2px solid #eee;
    margin: rem(5px) rem(30px) 0 0;
    padding: 0 rem(20px);
    text-align: left;
    width: 65%;
  }
}

.preview-character {
  font-size: rem(75px);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 100%;

  @media (width >= 800px) {
    flex-shrink: 0;
    text-align: left;
    width: 35%;
  }
}

.preview-meta {
  text-align: center;
  width: 100%;

  @media (width >= 800px) {
    text-align: left;
  }
}

.label {
  color: #999;
}

.name {
  color: #565454;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: rem(5px) 0;
}

.weight {
  color: #000;
  font-size: rem(13px);
  margin-bottom: rem(5px);
}

.style {
  color: #000;
  font-size: rem(13px);
  margin-bottom: rem(5px);
}
