:root {
  --spacing-0: 0;
  --spacing-0-5: rem(4px);
  --spacing-1: rem(8px);
  --spacing-1-5: rem(12px);
  --spacing-2: rem(16px);
  --spacing-2-5: rem(20px);
  --spacing-3: rem(24px);
  --spacing-4: rem(32px);
  --spacing-5: rem(40px);
  --spacing-6: rem(48px);
  --spacing-7: rem(56px);
  --spacing-8: rem(64px);
  --spacing-9: rem(72px);
  --spacing-10: rem(80px);
  --spacing-12: rem(96px);
  --spacing-15: rem(120px);

  --gutter-width: rem(40px);

  --site-margins: rem(16px);
}

@media (--desktop) {
  :root {
    --site-margins: rem(32px);
  }
}
