blockquote {
  @include display-blockquote;

  margin-block: 0 var(--spacing-5);
  margin-inline: 0;

  /* Add top margin when blockquote is preceded by other elements */
  * + & {
    margin-block-start: var(--spacing-5);
  }

  & p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  & cite {
    display: block;
    margin-block-start: var(--spacing-2);
    text-align: end;

    & em {
      border-inline-start: 1px solid var(--ui-border);
      font-weight: var(--font-weight-regular);
      margin-inline-start: var(--spacing-0-5);
      padding-inline-start: var(--spacing-1);
    }
  }

  :last-child {
    margin-block-end: 0;
  }

  @media print {
    page-break-inside: avoid;
  }
}
