@import '../../00-config/mixins';

@layer components {
  .border {
    @include list-border;
  }

  .clean {
    @include list-clean;
  }

  .inline {
    @include list-inline;
  }

  .pipeline {
    @include list-pipeline;
  }

  .column {
    @include list-column;
  }
}
