@import '../../../00-config/mixins/display-text.css';

@mixin hN {
  color: inherit;
  font-weight: var(--font-weight-bold);
  hyphens: none;
  line-height: var(--line-height-base);
  margin: 0 0 var(--spacing-2);
  text-rendering: optimizelegibility;

  @media print {
    orphans: 3;
    page-break-after: avoid;
    widows: 3;

    &::after {
      display: inline-block;
    }
  }

  /* Add top margin when headers are preceded by other elements (p, ul, etc.) */
  * + & {
    margin-top: 1em;
  }
}

h1,
.h1 {
  @include hN;
  @include display-h1;
}

h2,
.h2 {
  @include hN;
  @include display-h2;
}

h3,
.h3 {
  @include hN;
  @include display-h3;
}

h4,
.h4 {
  @include hN;
  @include display-h4;
}

h5,
.h5 {
  @include hN;
  @include display-h5;
}

h6,
.h6 {
  @include hN;
  @include display-h6;
}

:is(h1, h2, h3, h4, h5, h6) {
  /* Remove top margin for adjacent subheadings. */
  & + & {
    margin-top: 0;
  }
}
