@import '../../00-config/mixins.css';

@layer components {
  .form-item {
    --form-font-size: var(--base-font-size);
    margin-block: 0 var(--spacing-3);
    margin-inline: 0;
  }

  .label {
    display: block;
    font-weight: var(--font-weight-semibold);
  }

  .marker::before {
    content: '*';
  }

  .element {
    align-items: center;
    display: flex;
    gap: 0.25em;

    & > input {
      flex-shrink: 1;
      min-inline-size: 0;
    }

    .is-full-width > & {
      & > input {
        flex-grow: 1;
      }
    }
  }

  .fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .description {
    color: var(--text-secondary);
    font-size: var(--font-size-2);

    & > :last-child {
      margin-block-end: 0;
    }
  }

  .errors {
  }

  :is(.label, .description, .errors) {
    .disabled > & {
      opacity: var(--form-disabled-opacity);
    }
  }

  @import 'form-item-checkbox.css';
  @import 'form-item-input.css';
  @import 'form-item-range.css';
  @import 'form-item-radio.css';
  @import 'form-item-select.css';
}
