@import "../../config/mixins.css";

.display {
  @include display-text-display;
}

.h1 {
  @include display-h1;
}

.h2 {
  @include display-h2;
}

.h3 {
  @include display-h3;
}

.h4 {
  @include display-h4;
}

.h5 {
  @include display-h5;
}

.h6 {
  @include display-h6;
}

.blockquote {
  @include display-blockquote;
}

.body {
  @include display-body;
}

.body-large {
  @include display-body-large;
}

.cite {
  @include display-cite;
}
