@layer component {
  .fieldset {
    --legend-offset: calc(var(--line-height-base) * var(--base-font-size));
    inset-block-start: var(--legend-offset);
    margin-block-end: calc(var(--spacing-3) + var(--legend-offset));
    padding: 0;
    position: relative;
  }

  .fieldset--default {
    background: var(--grayscale-white);
    border: 1px solid var(--form-border);
    margin-block: var(--spacing-2) calc(var(--spacing-3) + var(--legend-offset));
    margin-inline: 0;
    padding-block: 0;
    padding-inline: var(--spacing-2);
  }

  .legend {
    box-sizing: content-box;
    display: block;
    font-weight: var(--font-weight-semibold);
    inline-size: 100%;
    inset-block-start: calc(var(--legend-offset) * -1);
    inset-inline-start: -1px;
    position: absolute;
    text-indent: 0;

    .fieldset--default & {
      background: var(--form-border);
      border: 1px solid var(--form-border);
      border-block-end: 0;
      color: #212121;
      height: 2em;
      line-height: 2;
      padding: 0;
      text-shadow: 0 1px 0 var(--grayscale-white);
      &.is-disabled {
        opacity: var(--form-disabled-opacity);
      }
    }
  }

  .legend-text {
    display: block;

    .fieldset--default & {
      padding-inline-start: 1em;
    }
  }

  .content {
    .fieldset--default & {
      padding-block: var(--spacing-3) var(--spacing-2);
      padding-inline: 0;

      & > :last-child {
        margin-block-end: 0;
      }
    }
  }

  .description {
    color: var(--text-secondary);
    font-size: var(--font-size-2);

    & > :last-child {
      margin-block-end: 0;
    }

    .fieldset--default & {
      font-style: italic;
      margin-block: var(--spacing-2) 0;
      margin-inline: 0;
    }
  }

  :is(.fieldset--checkboxes, .fieldset--datetime, .fieldset--radios) {
    margin-block-end: calc(var(--spacing-3) + var(--legend-offset));

    & .content {
      margin-block-start: var(--spacing-0-5);
    }

    &.is-disabled {
      & .legend,
      & .description {
        opacity: var(--form-disabled-opacity);
      }
    }

    .description {
      margin-block-start: calc(-1 * var(--spacing-2));
    }
  }
}
