@import '../../00-config/mixins';

$border-width: 3px;
$border-radius: 3px;

@layer components {
  .group {
    display: flex;
    margin-block: var(--spacing-2);
    margin-inline: 0;
  }

  .list {
    @include list-clean;

    block-size: 100%;
    display: flex;
    flex-direction: column;

    @media (--tablet) {
      flex-flow: row wrap;
    }
  }

  .link {
    composes: button from '../Button/button.module.css';
    margin: 0;
    width: 100%;

    &.is-active {
      background-color: var(--button-background-active);
      color: var(--button-text-active);
    }
  }

  .item {
    margin: 0;

    &.is-active {
      z-index: 1;
    }

    &:focus-within,
    &:hover {
      z-index: 2;
    }

    & .link {
      border-block-start-width: 0;
      border-radius: 0;

      @media (--tablet) {
        border-block-start-width: $border-width;
        border-inline-start-width: 0;
      }
    }

    &:first-of-type .link {
      border-block-start-width: $border-width;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      @media (--tablet) {
        border-bottom-left-radius: $border-radius;
        border-inline-start-width: 0;
        border-top-right-radius: 0;
      }
    }

    &:last-of-type .link {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      @media (--tablet) {
        border-bottom-left-radius: 0;
        border-top-right-radius: $border-radius;
      }
    }
  }
}
