@import '../../00-config/mixins.css';

@layer components {
  .button {
    @include focus;

    background-color: transparent;
    block-size: rem(55px);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-family-system);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
    line-height: rem(55px);
    margin: 0;
    padding-block: 0;
    padding-inline: var(--spacing-2);
    position: relative;
    text-decoration: none;

    &[hidden] {
      display: none;
    }
  }

  .icon {
    @include image-replace(1.375rem, 1.375rem);

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1.375rem 1.375rem;
    display: inline-block;
    margin-block-start: var(--spacing-2);
  }

  .button--close {
    z-index: 1001;

    & .icon {
      background-image: url('/images/mobile-close.svg');
    }
  }

  .button--menu {
    & .icon {
      background-image: url('/images/mobile-menu.svg');
      background-size: 2.0625rem 1.375rem;
      inline-size: 2.0625rem;
    }
  }
}
