@import 'mixins';

@layer components {
  .modal {
    inset: var(--site-margins);
    max-inline-size: var(--constrain-sm);
    padding: 0;

    /* Modal overlay styling */
    &::backdrop {
      background-color: rgba(0 0 0 / 75%);
    }

    &[open] {
      animation: show var(--duration-long) var(--easing-ease-in-out);
    }
  }

  /* Open animation */
  @keyframes show {
    from {
      opacity: 0;
      transform: scale(0.85);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .closeButton {
    @include image-replace(28px, 28px);

    background-color: transparent;
    background-image: url('/images/mobile-close.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    inset-block-start: var(--spacing-3);
    inset-inline-end: var(--spacing-3);
    position: absolute;
    transition: opacity var(--duration-standard) var(--easing-ease-in-out);

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }

  .inner {
    padding: var(--spacing-5);
  }

  .content {
    > :last-child {
      margin-block-end: 0;
    }
  }
}
