body {
  background-color: var(--background-site);
  color: var(--text-primary);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  word-wrap: break-word;

  &.has-open-menu {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
