@import '../../00-config/mixins.css';

@layer component {
  .breadcrumb {
    --background-color: var(--ui-accent-dark);
    --divider-color: var(--ui-border);
    @include set-link-vars(var(--ui-text-light));
    --text-color: var(--text-on-dark);
    @include clearfix;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-2);
    margin-block: var(--spacing-4);
    margin-inline: 0;
    padding-block: var(--spacing-2);
  }

  .title {
    color: var(--text-color);
  }

  .list {
    @include list-inline;
    margin-block-end: 0;
  }

  .item {
    margin-inline-end: 0.75em;

    &::after {
      color: var(--divider-color);
      content: '/';
      margin-inline-start: 0.75em;
    }

    &:last-of-type::after {
      content: '';
      margin-inline-start: 0;
    }

    @media (width <= 600px) {
      display: none;

      &:nth-last-of-type(2) {
        display: block;

        &::after {
          display: none;
        }

        &::before {
          color: var(--divider-color);
          content: '<';
          margin-inline-end: 0.75em;
        }
      }
    }
  }

  .link {
    text-decoration: none;
  }
}
