/**
  Set auto fit Grid template.
  @param {String} $item-min-width Minimum column width.
 */
@mixin set-css-autofit-columns($item-min-width) {
  gap: var(--gutter-width);
  grid-template-columns: repeat(auto-fit, minmax(#{$item-min-width}, 1fr));
}

/**
  Set fixed Grid template.
  @param {Number} $columns Number of columns.
 */
@mixin set-css-fixed-columns($columns) {
  grid-template-columns: repeat($columns, 1fr);
}

/**
  Create auto fit Grid.
  @param {String} $item-min-width Minimum column width.
 */
@mixin css-autofit-grid($item-min-width: rem-convert(300px)) {
  @include set-css-autofit-columns($item-min-width);

  display: grid;
}

/**
  Create auto fit Grid.
  @param {String} $item-min-width Minimum column width.
 */
@mixin css-fixed-grid($columns: 1) {
  @include set-css-fixed-columns($columns, false);

  display: grid;
  gap: var(--gutter-width);
}
