:root {
  --spacing-0: 0;
  --spacing-0-5: 4px;
  --spacing-1: 8px;
  --spacing-1-5: 12px;
  --spacing-2: 16px;
  --spacing-2-5: 20px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --spacing-12: 96px;
  --spacing-15: 120px;

  --gutter-width: 40px;

  --site-margins: 16px;
}

@media (--desktop) {
  :root {
    --site-margins: 32px;
  }
}
