@import '../../00-config/mixins.css';

@layer components {
  .tag-list {
    @include list-clean;
  }

  .item {
    display: inline-block;
    margin-block-end: var(--spacing-1);
    margin-inline-end: var(--spacing-1);
  }
}
