.form-item--select {
  --arrow-size: rem(20px);

  select {
    background-image: url('/images/select-arrows.svg');
    background-position: right calc(var(--arrow-size) / 2) center;
    background-repeat: no-repeat;
    background-size: var(--arrow-size);
    padding-inline-end: calc(var(--arrow-size) * 2);

    [dir='rtl'] & {
      background-position: left calc(var(--arrow-size) / 2) center;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &::-ms-expand {
      display: none;
    }
  }
}
